#about{
  background-color: #F5F6FA;

  .no-border{border: none;}
  .no-margin{margin: 0;}
  .no-padding{padding: 0;}

  .navbar{ margin-bottom: 0;
    .navbar-brand{height: 90px;}
    ul{
      li{overflow: hidden; margin-left: 20px;}
      .bottom-line{position: absolute; bottom: 20px; height: 3px; border-radius: 2px; width: 100%; background: white; left: -100%; overflow: hidden;}
      a{padding: 35px; font-size: 18px; color: white; background: none;}
      a:hover{background: none;}
    }
  }

  .carousel{top:-100px; z-index: 5;}

  .about-container{margin-top: -100px; position: relative; z-index: 110;
    .first-row{margin: auto; box-shadow: 0 0 30px #a1a1a1; padding: 50px 80px; max-width: 1050px; background: white;
      .media{position: relative; overflow: visible;
        .title-line-50{height: 1px; width: 50%; background: grey; position: absolute; top: 20px; right: 0; z-index: 10;}
        a{padding: 0; position: relative;}
      }
      .media-body{position: relative;
        .media-heading{padding-left: 50px; background: white; width: 250px; position: relative; z-index: 20;}
        .media-p1{padding-left: 50px; margin-top: 45px; margin-bottom: 70px; color: #666666; line-height: 30px;}
        .media-p2{margin-top: 50px; color: #666666; line-height: 30px;}
        .media-p3{padding-left: 200px; margin-top: 50px; color: #666666; line-height: 30px;}
      }
      .title-line-100{height: 1px; width: 100%; background: grey; margin-top: 30px;}
    }

    .second-row{padding-top: 100px; padding-bottom: 50px;
      .col-md-6{ padding: 0;
        .second-title{padding-left: 50px; font-size: 32px; color: #3880bb; line-height: 32px;position: relative;
          .second-circle{width: 30px; height: 30px; border: 2px solid #3880bb; border-radius: 20px; position: absolute; left: 0;}
        }
        //-webkit-transform: translateX(-50%) translateY(-50%);
        //-moz-transform: translateX(-50%) translateY(-50%);
        //-ms-transform: translateX(-50%) translateY(-50%);
        //transform: translateX(-50%) translateY(-50%);
        .second-ul-container{list-style-position: inside; height: 250px; position: relative;
          .second-ul{width: 100%; margin: 0; position: absolute; top: 50%; left: 50%;-webkit-transform: translateX(-50%) translateY(-50%); color: #3880bb;list-style: none; padding-left: 20px;
            li{
              .second-span1{text-align: left; color: #707070; position: relative;}
              .second-span1-right{font-size: 26px; color: #ff6745; width: 70px; display: inline-block; text-align: right;}
              .second-span1-right-text{margin-left: 15px; color: #ff6745; width: 60px; display: inline-block;}
              .second-span1-circle{width: 8px; height: 8px; background: #3880bb; position: absolute; left: -30px; bottom: 12px; border-radius: 10px;}
              .second-span1-circle-left{bottom: 4px;}
              .second-span2{text-align: right; margin-left: 35px;  color: #707070;}
              .second-span3{text-align: right; margin-left: 15px; color: #ff6745; font-size: 26px;}
              .second-right-line{width: 80%; height: 1px; background: #3880bb; position: relative; top: 5px; left: -10%; margin-top:20px;}
            }
          }
          .second-ul-right{border-left: 1px solid #3880bb; padding-left: 25%;
            li{position: relative;
              .second-li-text{position: absolute; left: -10%; top:10px;}
            }
          }

        }
        .second-ul-right-bottom{height: auto;
          .second-no-border{border: none;}
        }
      }
    }
    .second-btn{margin-top: 20px;
      a {border-radius: 0; border: 0; background: #ff6745; color: white; margin: 0; padding: 15px 15px;
        span{font-size: 20px;}
      }
      a:active{background: #d9513c;}
    }
  }

  .third-container{background: white; top: -90px; position: relative; z-index: 100;
    .third-title{margin-top: 170px;
      p{color: #707070; line-height: 30px; margin-top: 50px;}
    }
    .third-img-content{margin-top: 90px;
      .caption{
        h3{margin: 20px auto;}
        p{color: #707070; max-width: 300px; margin: auto; line-height: 30px;}
      }
      .col-md-4 .thumbnail{margin-bottom: 0;}
      .col-md-4:nth-child(1) h3{color: #ec6409;}
      .col-md-4:nth-child(2) h3{color: #2a79b9;}
      .col-md-4:nth-child(3) h3{color: #0dac36;}
    }
    .bottom-write{background: white; height: 90px; width: 100%; position: absolute; bottom: -90px;}
  }

  .fourth-container{background: #00cc71; color: white;
    .container{padding: 120px 0;
      p{line-height: 30px; margin-top: 70px; letter-spacing: 3px;}
    }
  }

  .fifth-container{background: yellow; background: url('../images/about/bg-img.png') no-repeat center; background-size: cover;
    .col-md-12{padding: 200px 0;
      p{margin-top: 65px; color: #666666; line-height: 30px; letter-spacing: 3px;}
    }
  }
  .fifth-container{margin-bottom: 70px;
    .col-md-10{
      .row{ margin-bottom: 20px;
        .col-md-4{
          .fifth-title{padding: 10px 0 10px 5px; color: white; width: 188px; margin: 0 auto; font-size: 20px; text-align: center; letter-spacing: 5px;}
          .fifth-goods-owner{background: #ff6745;}
          .fifth-car-owner{background: #3b87c5;}
          .fifth-order{width: 188px; margin: 40px auto 0 auto; background: white; color: #666666; text-align: center; padding: 30px 30px 40px 30px;}
          .fifth-goods-order{
            .fifth-price{margin: auto; width: 80px; height: 80px; background: #ff6745; border-radius: 40px; color: white; line-height: 80px; font-size: 24px;}
            p{margin-top: 25px; margin-bottom: 0; line-height: 30px;
              span{color:#ff6745;}
            }
          }
          .fifth-car-order{
            .fifth-price{margin: auto; width: 80px; height: 80px; background: #3b87c5; border-radius: 40px; color: white; line-height: 80px; font-size: 24px;}
            p{margin-top: 25px; margin-bottom: 0; line-height: 30px;
              span{color:#3b87c5;}
            }
          }
          .fifth-no-title{margin-top: 0;}
        }
      }
    }
  }

  .sixth-container{background: white; padding: 90px 0 100px 0;
    h3{etter-spacing: 10px;}
    p{line-height: 30px; color: #707070;margin-top: 40px;}
  }

  .seventh-container{background: #8194A1; padding: 70px 0;
    .media-body{color: white; padding-left: 50px; letter-spacing: 3px;
      p{font-size: 16px;}
      h3{margin-bottom: 20px;}
      h3:nth-of-type(2) {margin-top: 80px;}
    }

  }
}
