#news{
  background-color: #F5F6FA;
  .btn-icon{width: 6px; height: 20px; margin-left:10px; background-color: yellowgreen;}
  .btn-icon-left{background: url('../images/about/arrow-left-black.png') no-repeat center; background-size: 6px 11px;}
  .btn-icon-right{background: url('../images/index/arrow-right.png') no-repeat center; background-size: 6px 11px;}

  .group-item-icon{width: 100%; height: 70px;}
  .enterprise{background: url('../images/about/enterprise-default.png') no-repeat center; background-size: 56px 50px;}
  .finance{background: url('../images/about/finance-default.png') no-repeat center; background-size: 53px 53px;}
  .logistics{background: url('../images/about/logistics-default.png') no-repeat center; background-size: 66px 53px;}
  .enterprise-selected{background: url('../images/about/enterprise-selected.png') no-repeat center; background-size: 56px 50px;}
  .finance-selected{background: url('../images/about/finance-selected.png') no-repeat center; background-size: 53px 53px;}
  .logistics-selected{background: url('../images/about/logistics-selected.png') no-repeat center; background-size: 66px 53px;}
  .navbar{ margin-bottom: 0;
    .navbar-brand{height: 90px;}
    ul{
      li{overflow: hidden; margin-left: 20px;}
      .bottom-line{position: absolute; bottom: 20px; height: 3px; border-radius: 2px; width: 100%; background: white; left: -100%; overflow: hidden;}
      a{padding: 35px; font-size: 18px; color: white; background: none;}
      a:hover{background: none;}
    }
  }

  .news-container{margin-top: -50px;
    .list-group{
      .list-group-item{font-size: 16px; padding: 0; line-height: 30px; width: 200px; margin: auto; margin-top: 20px; color: #858585; background: #efefef; border: 0; border-radius: 0; cursor: pointer;}
      .list-group-item:first-child{margin-top: 0;}
      .active{background: white; color: black;}
    }

    .new-list{
      .row{background: white; margin-bottom: 30px;}
      .media{
        .media-left{padding: 0;}
        .media-body{padding: 40px 40px 0 0;position: relative;
          .media-heading{
            line-height: 25px;  border-left: 5px solid deepskyblue;  padding-left: 35px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
          .p-content{padding-left: 40px; line-height: 25px; margin-top: 50px; font-size: 14px;color: #666666;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
          .p-date{width: 134px; height: 35px; margin: 10px 0 0 40px; text-align: right; position: absolute; right: 40px; bottom: 0;
            span{line-height: 35px; border-top: 2px solid #f4f4f4; color: #bdbdbd; display: inline-block;}
          }
        }
      }

      .row:last-child{background: none;}
      .page-list nav .pagination{
        li {
          a{
            border: 0; background: none; font-size: 16px; color: #808080;
          }
          a:hover{
            background: #e8e8e8;
          }
          .active{
            background: #e8e8e8;
          }
        }

        .previous{
          a{
            //padding-left: 0;padding-right: 0;
            span{margin-left: 0; margin-right: 10px}
          }
        }
        .next{
          //a{padding-left: 0;padding-right: 0;}
        }
      }

    }
  }


}
