.modal-dialog.order-detail {
  width: 90%; }
  .modal-dialog.order-detail .modal-body {
    padding: 20px;
    overflow: hidden;
    font-size: 11px; }
    .modal-dialog.order-detail .modal-body .useredit {
      height: 24px;
      width: 300px; }
    .modal-dialog.order-detail .modal-body .userarea {
      width: 100px;
      height: 50px; }
    .modal-dialog.order-detail .modal-body span, .modal-dialog.order-detail .modal-body .useredit, .modal-dialog.order-detail .modal-body .userarea {
      font-weight: bold;
      color: #78a500; }
    .modal-dialog.order-detail .modal-body .attach {
      padding: 15px 0 30px 0; }
    .modal-dialog.order-detail .modal-body .useredit.unpower, .modal-dialog.order-detail .modal-body .userarea.unpower {
      border: none; }
    .modal-dialog.order-detail .modal-body textarea {
      resize: none; }
