.modal-dialog.order-detail {
  width: 90%;
  max-width: 1220px; }

.m-t-2 {
  margin-top: 2px; }

.radio-center-div {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px; }

.order-inner {
  width: 100%;
  height: 330px;
  overflow: auto;
  border: 1px solid #e4e7ea; }
  .order-inner .order-inner-up ul {
    width: 100%;
    padding-left: 0px; }
    .order-inner .order-inner-up ul.head {
      margin-top: -10px; }
    .order-inner .order-inner-up ul li {
      padding-top: 0px;
      width: 25%;
      line-height: 39px;
      float: left;
      list-style: none; }
      .order-inner .order-inner-up ul li .form-group {
        margin-bottom: 0px; }
      .order-inner .order-inner-up ul li.head {
        color: #555;
        text-align: center;
        border: 1px solid rgba(120, 130, 140, 0.21);
        font-size: 14px;
        font-weight: 400;
        background-color: #eee; }

.color-red {
  color: red; }

.prerecord ul.boxoperator-typeahead {
  width: 210px;
  padding-left: 0px; }
  .prerecord ul.boxoperator-typeahead li {
    padding-top: 0px;
    float: left;
    list-style: none;
    font-size: 12px; }
    .prerecord ul.boxoperator-typeahead li.head {
      color: #555;
      border: 1px solid rgba(120, 130, 140, 0.21);
      font-size: 14px;
      font-weight: 400;
      background-color: #eee; }
    .prerecord ul.boxoperator-typeahead li.first {
      width: 60px; }
    .prerecord ul.boxoperator-typeahead li.second {
      width: 150px; }

.prerecord ul.customs-typeahead {
  width: 250px;
  padding-left: 0px; }
  .prerecord ul.customs-typeahead li {
    padding-top: 0px;
    float: left;
    list-style: none;
    font-size: 12px; }
    .prerecord ul.customs-typeahead li.head {
      color: #555;
      border: 1px solid rgba(120, 130, 140, 0.21);
      font-size: 14px;
      font-weight: 400;
      background-color: #eee; }
    .prerecord ul.customs-typeahead li.first {
      width: 100px; }
    .prerecord ul.customs-typeahead li.second {
      width: 150px; }

.prerecord ul.ship-typeahead {
  width: 400px;
  padding-left: 0px; }
  .prerecord ul.ship-typeahead li {
    padding-top: 0px;
    float: left;
    list-style: none;
    font-size: 12px; }
    .prerecord ul.ship-typeahead li.head {
      color: #555;
      border: 1px solid rgba(120, 130, 140, 0.21);
      font-size: 14px;
      font-weight: 400;
      background-color: #eee; }
    .prerecord ul.ship-typeahead li.first {
      width: 150px; }
    .prerecord ul.ship-typeahead li.second {
      width: 100px; }
    .prerecord ul.ship-typeahead li.third {
      width: 150px; }

.prerecord .color-green {
  color: green; }

.prerecord .radio-frame {
  float: left;
  margin-right: 5px; }
  .prerecord .radio-frame label {
    margin-left: 2px; }

.prerecord .tooltip-inner {
  min-width: 200px;
  max-width: none;
  text-align: left; }

.prerecord .title1 ul {
  width: 100%;
  padding-left: 0px; }
  .prerecord .title1 ul li {
    padding-top: 0px;
    width: 25%;
    line-height: 37px;
    float: left;
    list-style: none; }
    .prerecord .title1 ul li .form-group {
      margin-bottom: 0px; }
    .prerecord .title1 ul li.head {
      color: #555;
      text-align: center;
      border: 1px solid rgba(120, 130, 140, 0.21);
      font-size: 14px;
      font-weight: 400;
      background-color: #eee; }

.prerecord .bottom1 {
  float: left;
  width: 19%;
  margin-right: 1%; }
  .prerecord .bottom1.last {
    margin-right: 0px; }
  .prerecord .bottom1 .form-group {
    margin-bottom: 10px; }

.prerecord .no-bottom .form-group {
  margin-bottom: 0px; }

.prerecord .bottom-10 .form-group {
  margin-bottom: 10px; }

.prerecord-inner {
  height: 310px;
  overflow: auto;
  border: 1px solid #e4e7ea; }
  .prerecord-inner .prerecord-inner-up ul {
    width: 600px;
    padding-left: 0px; }
    .prerecord-inner .prerecord-inner-up ul.head {
      margin-top: -10px; }
    .prerecord-inner .prerecord-inner-up ul li {
      padding-top: 0px;
      width: 100px;
      line-height: 39px;
      float: left;
      list-style: none; }
      .prerecord-inner .prerecord-inner-up ul li .form-group {
        margin-bottom: 0px; }
      .prerecord-inner .prerecord-inner-up ul li.first {
        width: 200px; }
      .prerecord-inner .prerecord-inner-up ul li.head {
        color: #555;
        text-align: center;
        border: 1px solid rgba(120, 130, 140, 0.21);
        font-size: 14px;
        font-weight: 400;
        background-color: #eee; }
        .prerecord-inner .prerecord-inner-up ul li.head.has-error {
          color: #a94442;
          background-color: #f2dede;
          border: 1px solid #a94442; }
