.release-order-list .line-yellow {
  background-color: yellow; }

.release-order-list .line-purple {
  color: white;
  background-color: #ce00ce; }

.release-order-list .line-green {
  color: white;
  background-color: green; }

.release-table .table tr td {
  padding: 5px 5px; }
