.release-order-list{

  .line-yellow {
    background-color: yellow;
  }
  .line-purple {
    color:white;
    background-color: #ce00ce;
  }
  .line-green {
    color:white;
    background-color: green;
  }
}
