
#table{
  width:1120px;
  height:792px;

  #background{
    position: absolute;
    left:10px;
    top:0px;
  }

  #result-data{
    position: absolute;
    left:0px;
    top:0px;
    width:1120px;
    height:792px;

    color:blue;
    font-size: 13px;




  }
}



