
body{
  padding: 0px;margin: 0px;
  color:blue;
  font-size: 15px;
  font-weight: 900;
}
.m-t-20{
  margin-top: 20px;
}
.container{
  margin-left: 20px;
  padding-left: 20px;
}
#table{
  width:1120px;
  height:792px;

  #background{
    position: absolute;
    left:10px;
    top:0px;
  }

  #result-data{
    position: absolute;
    left:0px;
    top:0px;
    width:1120px;
    height:792px;

    .data-div{
      position: absolute;

    }
    .shipping-name{
      left:70px;
      top:164px;
    }
    .loading-port{
      left:310px;
      top:170px;
    }
    .transit-port{
      left:450px;
      top:170px;
    }
    .dest-port{
      left:550px;
      top:170px;
    }
    .container-no{
      left:70px;
      top:235px;
    }
    .seal-no{
      left:70px;
      top:305px;
    }

    .vtype-stype{
      left:60px;
      top:465px;
      width:140px;
      text-align: center;
    }
    .goodm-loadport{
      left:20px;
      top:540px;
      width:250px;
      text-align: center;
    }
    .goods-member-mobile{
      left:100px;
      top:600px;
      width:150px;
      text-align: center;
    }
    .shipping-date-str{
      left:25px;
      top:660px;
      width:250px;
      text-align: center;
    }
    .note{
      left:750px;
      top:660px;
      width:330px;
    }

    ul{
      position: absolute;
      padding: 0px;
      left:296px;
      top:300px;
      list-style: outside;
      li{
        text-align: center;
        div{
          text-align: center;
        }
        .shipping-sn{
          width:120px;
          left:0px;

        }
        .items{
          left:135px;
          width:100px;

        }
        .net-weight{
          left:240px;
          width: 100px;

        }
        .size-desc{
          left:340px;
          width:100px;
        }
        .goods-desc{
          left:445px;
          width:205px;
        }
        .mark{
          left:655px;
          width:140px;
        }
      }
    }




  }

}

//$release-color:rgb(81, 111, 180);
$release-color:blue;

#release {
  color: $release-color;
  margin-top: 40px;
  margin-left: 20px;
  width: 500px;
  .r-title {
    width:100%;
    text-align: center;
    font-size: 25px;
    margin-bottom: 25px;
  }
  .text-20 {
    font-size:13px;
  }
  table {
    font-size:16px;
    margin-top: 5px;
    width: 100%;
    border-right:1px solid $release-color;
    border-bottom:1px solid $release-color;
    text-align: center;
    tr{
      height:25px;
      line-height: 25px;
      td{
        border-left:1px solid $release-color;
        border-top:1px solid $release-color;
        &.text-left {
          text-align: left;
        }
        &.first {
          width:8%;
        }
        &.second {
          width:30%;
        }
        &.third {
          width:16%;
        }
      }
    }
  }
}
